/*BACKGROUND*/
#bg-map
{
	width: 700px;
	height: 700px;
	background-image: url("Resources/Images/MAP.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#bg-arena
{
	width: 700px;
	height: 700px;
	background-image: url("Resources/Images/Arena.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*TANAH*/
.tanah
{
	width:100px;
	height:100px;
	float:left;
	background-size:100%;
	background-repeat: no-repeat;
	position:absolute;
}

/*BANGUNAN*/
.breeding
{
	
	background-image: url("Resources/Images/breeding.png");
	background-repeat: no-repeat;
}

.hatchery
{

	background-image: url("Resources/Images/Hatchery.png");
	background-repeat: no-repeat;
}

.habitat
{

	background-image: url("Resources/Images/terra_habitat.png");
	background-repeat: no-repeat;
}

.farm
{

	background-image: url("Resources/Images/farm.png");
	background-repeat: no-repeat;
}

/*cursor*/
#orang
{
	width:50px;
	height:50px;
	background-size:100% 100%;
	background-repeat: no-repeat;
	position:absolute;
}

/*battle-dragon*/
#naga_player
{
	width: 100px;
	height: 150px;
	top:550px;
	left:100px;
	position:relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#naga_opponent
{
	width: 100px;
	height: 150px;
	top:400px;
	left:500px;
	position:relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*UANG*/
#uang
{
	width:100px;
	height:50px;
	background-color:green;
	float:left;
}